@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@200;400;700&display=swap');

:root {
    --gd-light: #fafafa;
    --gd-dark: #dddddd;
    --dark: #111111;
    --yellow: #f7e019;
    --font-family-sans-serif: 'Ubuntu', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family-sans-serif);
}

.main {
    position: relative;
    min-height: 100vh;
    background: radial-gradient(var(--gd-light), var(--gd-dark));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 100px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000;
}

.navigation {
    display: flex;
}

.navigation li {
    list-style: none;
    position: relative;
    color: var(--dark);
    text-decoration: none;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navigation li img {
    width: 30px;
    margin-right: 5px;
}

.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .text {
    width: 100%;
    max-width: 500px;
}

.content .text h2 {
    color: var(--dark);
    font-size: 4em;
    font-weight: 200;
}

.content .text span#iam {
    padding-top: 14px;
    display: block;
}

.content .text span.js {
    font-weight: 700;
    background: var(--yellow);
    padding: 20px 5px 0 20px;
}

.content .text p {
    color: var(--dark);
    font-weight: 400;
    font-size: 1.1em;
    line-height: 1.5em;
    margin: 20px 0;
}

.content .skills {
    list-style: none;
}

.content .skills img {
    width: 50px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.sci {
    display: flex;
}

.sci li {
    list-style: none;
}

.sci li a {
    color: var(--dark);
    font-size: 2em;
    margin-right: 20px;
    display: inline-block;
    transition: .25s;
    cursor: pointer;
}

.sci li a:hover {
    transform: translateY(-5px);
}

.s-icons {
    width: 32px;
}

.ref-bible {
    position: relative;
    user-select: none;
    right: 40px;
}

.ref-bible p {
    position: relative;
    color: var(--dark);
    margin-bottom: 15px;
}

.ref-bible p::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -40px;
    width: 30px;
    height: 2px;
    background: var(--dark);
}

.ref-bible p::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -40px;
    width: 30px;
    height: 2px;
    background: var(--dark);
}

@media (max-width: 991px) {
    .main {
        padding: 40px;
    }

    header {
        padding: 20px 40px;
    }

    .content {
        flex: 1;
        flex-direction: column;
        justify-content: center;
        padding-top: 40px;
    }

    .content .text {
        max-width: 100%;
    }

    .content .text h2 {
        font-size: 3em;
    }

    .content .illustration img {
        width: 240px;
    }

    .footer {
        position: relative;
        padding: 0;
    }

    .ref-bible {
        right: 40px;
    }
}

@media (max-width: 480px) {
    header {
        position: inherit;
        width: 100%;
    }

    header {
        padding: 5px 0;
    }

    .main {
        padding: 5px 20px;
    }

    .navigation li {
        margin-left: 20px;
        font-size: .8em;
    }

    .navigation li img {
        width: 20px;
    }

    .toggle.active {
        right: 20px;
    }

    .content {
        padding-top: 0;
    }

    .content .text {
        text-align: center;
    }

    .content .text h2 {
        font-size: 2em;
    }

    .content .text span#iam {
        padding-top: 10px;
    }

    .content .text span.js {
        padding: 12px 3px 0 12px;
    }

    .content .text p {
        font-size: 1em;
    }

    .content .illustration img {
        width: 200px;
    }

    .footer {
        flex-direction: column-reverse;
        align-items: center;
    }

    .sci {
        margin-top: 10px;
    }

    .sci li a {
        font-size: 1.5em;
        margin: 0 10px;
    }

    .ref-bible {
        right: 0;
    }
}

@media (max-width: 480px) and (max-height: 599px) {
    .content {
        padding-top: 20px;
    }

    .content .text h2 {
        font-size: 1.6em;
    }

    .content .text p {
        font-size: .9em;
    }

    .content .illustration img {
        width: 160px;
    }

    .s-icons {
        width: 24px;
    }

    .ref-bible p {
        font-size: .8em;
    }
}